# Git
.git
.gitignore
.ditattributes

# Python caches & build artifacts
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets / local env
# .env
# .env.sample

# Project dirs not required in image
data/
logs/
test_files/
docs/
ngnix/
prometheus/
*.ps1
*.sh
prometheus.yml
project_structure.py
upload_test.py
README.md
roadmap.md

# Poetry
# poetry.lock

# Docker buildx
.buildx-cache/

# Spacy models
spacy_models/
